<main class="mt-4">
    <div class="container">
        <h2 class="mb-3">Enter Your Event</h2>
        <div id="formStyle" class="login-container">
            <form #myForm="ngForm" (ngSubmit)="myForm.form.valid && onSubmit()" enctype="multipart/form-data">

                <div class="form-group">
                    Event Name:
                    <input type="text" name="eventName" class="form-control" id="eventName"
                        placeholder="Enter Your Event Name" [(ngModel)]="eventDetails.eventName" #eventName="ngModel"
                        required />
                    @if((eventName.touched || myForm.submitted) && eventName.errors?.['required']){
                        <small>Event name is required</small>
                    }
                </div>

                <div class="form-group">
                    Event Description:
                    <textarea type="text" name="eventDescription" class="form-control" id="eventDescription"
                        placeholder="Enter Your Event Description" [(ngModel)]="eventDetails.eventDescription"
                        #eventDescription="ngModel" required></textarea>
                    @if((eventDescription.touched || myForm.submitted) && eventDescription.errors?.['required']){
                        <small>Event Description is Requied!!</small>
                    }
                </div>

                <div class="form-group">
                    Attendee Count:
                    <input type="number" name="attendeeCount" class="form-control" id="attendeeCount"
                        placeholder="Enter Your AttendeeCount" [(ngModel)]="eventDetails.attendeeCount"
                        #attendeeCount="ngModel" required />
                        @if((attendeeCount.touched || myForm.submitted) && attendeeCount.errors?.['required']){
                        <small>attendee Count is Requied!!</small>
                    }
                </div>

                <div class="form-group">
                    Categories:
                    <div>
                        <input type="radio" name="categories" value="public" class="categories" [(ngModel)]="eventDetails.Categories"
                            required #categories="ngModel">Public Event
                        <input type="radio" name="categories" value="private" class="categories" [(ngModel)]="eventDetails.Categories"
                            required>Private Event
                            @if((categories?.touched || myForm.submitted) && categories?.invalid){
                        <small>Categories is Requied!!</small>
                    }
                    </div>

                </div>

                <div>
                    <label>Event Type:</label>
                    @if(eventDetails && eventDetails.eventType && eventDetails.eventType.length){
                            @for(typeEvents of eventDetails.eventType;track $index){
                                <input type="checkbox" name="typeEvents.name" [(ngModel)]="typeEvents.isSelected">
                                <label>{{typeEvents.name}}</label>
                            }
                    }
                </div>

                <div class="form-group">
                    Venue Type:
                    <div>
                        <input type="radio" name="venueType" value="indoor" [(ngModel)]="eventDetails.venueType"
                            required #venueType="ngModel">Indoor
                        <input type="radio" name="venueType" value="outdoor" [(ngModel)]="eventDetails.venueType"
                            required>Outdoor
                            @if((venueType?.touched || myForm.submitted) && venueType?.invalid){
                        <small>Venue Type is Requied!!</small>
                    }
                    </div>
                </div>

                <div class="form-group">
                    <label>Event Details:</label>
                    Event Name:
                    <input type="text" name="eventDetailsEventName" class="form-control" id="eventname"
                        placeholder="Enter Your Event Name"
                        [(ngModel)]="eventDetails.eventDetailsData.eventDetailEventName" #eventDetailEventName="ngModel"
                        required />
                        @if((eventDetailEventName.touched || myForm.submitted) && eventDetailEventName.errors?.['required']){
                            <small>Event Details Event Name is Requied!!</small><br>
                        }
                    Event Location:
                    <input type="text" name="eventDetailsEventLocation" class="form-control"
                        id="eventlocation" placeholder="Enter Your Event Location"
                        [(ngModel)]="eventDetails.eventDetailsData.eventDetailEventLocation"
                        #eventDetailEventLocation="ngModel" required />
                        @if((eventDetailEventLocation.touched || myForm.submitted) && eventDetailEventLocation.errors?.['required']){
                            <small>Event Details Event Location is Requied!!</small><br>
                        }
                    Event Date:
                    <input type="date" name="eventDetailsEventDate" class="form-control" id="eventdate"
                        [(ngModel)]="eventDetails.eventDetailsData.eventDetailDate" #eventDate="ngModel" required />
                    @if((eventDate.touched || myForm.submitted) && eventDate.errors?.['required']){
                        <small>Event Details eventDate is Requied!!</small><br>
                    }
                </div>

                <input type="submit" value="Submit" class="btn btn-success" />
            </form>
        </div>

    </div>
</main>